<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/images/favicon.png">

    <title>{% block title %}Admin{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/global.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
    {% block stylesheet %}{% endblock %}
</head>

<body id="body">
{% include 'Admin/components/_headerAdmin.html.twig' %}
{% block content %}{% endblock %}
{% block javascript %}{% endblock %}
<script src="/assets/js/header.js"></script>
</body>
</html>


