{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/adminLogin.css">
{% endblock %}

{% block content %}
    <main>
        <p>bruh</p>
    </main>
{% endblock %}
