{% extends 'Admin/adminLayout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/adminLogin.css">
{% endblock %}

{% block content %}
    <main>
        <section class="login">
            <h2>Mon Espace Admin</h2>
            <form action="" method="POST">
                <div class="inputSection">
                    <label for="login">Votre identifiant</label>
                    <input type="text" name="login" id="login" placeholder="john" value="{{ login }}" required>
                </div>
                <div class="inputSection">
                    <label for="password">Votre mot de passe</label>
                    <input type="password" name="password" id="password" placeholder="********" required>
                </div>
                <div class="button">
                    <button type="submit">Se connecter</button>
                </div>
            </form>
            <div class="error">
                <small>{{ error }}</small>
            </div>

        </section>
    </main>
{% endblock %}
