{% extends 'layout.html.twig' %}
{% block stylesheet %} 
    <link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}
{% block content %}
    <section class="hotNews_block">
    
        <article class="card bigNews">
            <a href="#">
                <div class="title_bigNews title_news">
                    <img class="big" src="{{ mainArticle.images }}" alt="image de l'article principal">
                    <div class="articleTeasing">
                        <h1>{{ mainArticle.homeTitle }}</h1>
                        <p>{{ mainArticle.homePreview }}</p>
                    </div>
                </div>
            </a>
        </article>
    
    <article class="card middle_news">
        <?php foreach ($twoArticle as $artTwo) : ?>
            <a href="article.php?article=<?= $artTwo['parameter_url'] ?>">
                <div class="card1">
                    <img class="small" src="/assets/images/home_picture/montagne1.png" alt="image de l'article secondaire">
                    <h2><?= $artTwo['titleHome'] ?></h2>
                </div>
            </a>
        
    </article>
</section>
<span class="separation_bar"><img class="separation" src="/assets/images/components/separation.svg" alt="Barre de séparation"></span>

<section class="article_list">
    
            <a href="article.php?article=<?= $articleInfo['parameter_url'] ?>">
                <article class="article_block">
                    <div class="card_container">
                        <div class="card2">
                            <img class="medium" src="/assets/images/home_picture/montagne1.png" alt="image de l'article secondaire">
                        </div>
                    </div>
                    <div class="little_article">
                        <h3> $articleInfo['title'] </h3>
                        <p>articleInfo['description']
                        </p>
                    </div>
                </article>
            </a>
       
</section>
{% endblock %}
