{% extends 'Admin/adminLayout.html.twig' %}
{% block title %} Add article {% endblock %}
{% block stylesheet %}
{% endblock %}
{% block content %}
<main>
    {% include 'Admin/components/_form_article.html.twig' %}
</main>

{% endblock %}
