<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/images/favicon.png">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/global.css">
    {% block stylesheet %}{% endblock %}
</head>

<body id="body">
    {% include 'components/_header.html.twig' %}
    {% block content %}{% endblock %}
    {% include 'components/_footer.html.twig' %}
<script src="/assets/js/header.js"></script>
    {% block javascript %}{% endblock %}
</body>
</html>


