main {
    margin: 0 13rem;
    display: flex;
    justify-content: center;
}

#mainPage {
    max-width: 100rem;
}

/* Block Header */

#pageTitle {
    color: --our-black;
    text-align: justify;
    font-family: Titillium Web;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
    margin-top: 3.81rem;
    margin-bottom: 4.13rem;
}

#pagePresentation {
    color: --our-black;
    text-align: justify;
    font-family: Titillium Web;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 3.81rem;
}

.separationAbout {
    display: flex;
    justify-content: center;
    margin-bottom: 4.81rem;
}

.smallSeparation {
    display: none;
}

/* Block Author */

article {
    display: grid;
    grid-template-columns: 300px 50px 1fr 1fr;
    grid-template-rows: 1fr 50px 50px;
    margin-bottom: 6.63rem;
    text-decoration: none;
    color: --our-black;
    text-align: justify;
    font-family: Titillium Web;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.leftSide {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-column: 1/2;
    grid-row: 1;
}

.profil {
    display: flex;
    justify-content: center;
    align-items: start;
}

article .profil img {

    max-width: 18.75rem;
    max-height: 18.75rem;
    width: 100%;
    border-radius: 50%;

}

article .firstquote {
    margin-right: 0.5rem;
    grid-column: 2/3;
}

article aside {
    grid-column: 3/5;
    grid-row: 1/3;
}

article aside p span {
    flex-direction: row-reverse;
    display: flex;
}

.authorName {
    display: flex;
    /* grid-row: 1;
    grid-column: 1; */
    justify-content: center;
    align-items: center;
}

.authorName h2 {
    color: --our-black;
    font-family: Titillium Web;
    font-size: 1rem;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    line-height: normal;
    margin-top: 1rem;
}

.website {
    /* grid-row: 1;
    grid-column: 1; */
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: end;
}

.website a {
    justify-content: center;
    align-items: center;
    text-decoration: inherit;
    color: var(--our-black);
    display: flex;
}

.website a:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    /* box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, 0.25); */
}

.linkedinProfil {
    grid-row: 3/4;
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    text-decoration: inherit;
    color: var(--our-black);
    border-radius: 0.625rem;
    background: var(--Orange, #FFA458);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    max-width: 255px;
    min-width: 190px;
    width: 90%;
    max-height: 53px;
    flex-shrink: 0;
    align-items: center;
    margin-right: 1rem;
}

.linkedinProfil:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    /* box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, 0.25); */
}

.githubProfil {
    grid-row: 3/4;
    grid-column: 4/5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: inherit;
    color: var(--our-black);
    max-width: 255px;
    min-width: 190px;
    width: 90%;
    max-height: 53px;
    border-radius: 0.625rem;
    border: 1px solid var(--Orange, #FFA458);
    background: rgba(255, 164, 88, 0.07);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.githubProfil:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    /* box-shadow: 0px 12px 12px 0px rgba(0, 0, 0, 0.25); */
}

article a img {
    margin-right: 1rem;
}

/* Mobile */

@media screen and (max-width:1100px) {
    main {
        margin: 0 2rem;
    }

    article .firstquote {
        display: none;
    }

    article aside p span {
        display: none;
    }

    article {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
    }

    .profil {
        display: flex;
        justify-content: center;
    }

    article .profil img {
        width: 13.875rem;
        height: 13.875rem;
        grid-column: 1;
        grid-row: 1;
    }

    article h2 {
        grid-row: 2;
        grid-column: 1;
        margin-bottom: 0.9rem;
    }

    .website {
        grid-row: 3;
        grid-column: 1;
        margin-bottom: 4rem;
    }

    article aside {
        grid-row: 4;
        grid-column: 1;
        margin-bottom: 2rem;
    }

    .linkedinProfil {
        grid-row: 5;
        grid-column: 1;
        justify-self: center;
        min-height: 50px;
        margin-bottom: 1.3rem;
        margin-right: 0;
    }

    .githubProfil {
        grid-row: 6;
        grid-column: 1;
        justify-self: center;
        min-height: 50px;
    }

}

@media screen and (max-width:700px) {
    .longSeparation {
        display: none;
    }

    .smallSeparation {
        display: flex;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}