main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    width: 15rem;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
}

form {
    margin-top: 1rem;
}

.inputSection {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 1rem;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding: 0.5rem;
}

label {
    font-size: 0.8rem;
}

.button {
    display: flex;
    justify-content: center;
}

button {
    margin-top: 1rem;
    padding: 0.5rem;
    border: none;
    width: 10rem;
    background-color: var(--admin-color);
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

button:hover {
    background-color: whitesmoke;
}
