header {
    background-color: var(--main-color);
    margin: 0;
    height: var(--header-height-desktop);
    display: flex;
    padding: 0 13rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#aHeaderLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
}

#logo_header {
    width: 12rem;
}

#logo_header:hover {
    cursor: pointer;
}

#closed_burger_icon:hover {
    cursor: pointer;
}

#list_nav_header a {
    color: var(--our-black);
    text-decoration: none;
}

#list_nav_header a:hover {
    cursor: pointer;
    color: var(--color-hover);
    text-decoration: none;
}

#list_nav_header {
    font-weight: 600;
    font-size: 1.25rem;
    padding: 0;
    width: 40rem;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*
Gestion du menu burger !
*/

#burger_icon {
    display: none;
}

#burger_menue {
    border-top: 1px solid black;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* position: fixed; */
    bottom: 0;
    background-color: var(--main-color);
    width: 100%;
    height: calc(100vh - var(--header-height-desktop));
    list-style-type: none;
    z-index: 2;
    /* margin-top: var(--header-height-desktop); */
}

#burger_menue a {
    text-decoration: none;
    color: var(--our-black);
}

#burger_menue li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    width: 14rem;
    border-bottom: 1px solid black;
}

#burger_menue li:hover {
    cursor: pointer;
}

.item-li {
    width: 14rem;
    border: none;
    height: 3px;
    border-bottom: 1px solid black;
}

.burger_separation_header {
    width: 100%;
    border: none;
    height: 1px;
    background-color: black;
}

/**
 * ----------------------------------------
 * gestion des classes dynamiques javascript du menu burger
 * ----------------------------------------
 */

.isFlexed {
    display: flex !important;
}

.undisplayed {
    display: none !important;
}

.asBlock {
    display: block !important;
}

.easeOutAnimation {
    animation: slide-right 0.5s ease-out both !important;
}

.easeInAnimation {
    animation: slide-left 0.5s ease-in both !important;
}

/*
Gestion des media querries
*/

@media screen and (max-width: 1400px) {
    #list_nav_header {
        width: 30rem;
    }
}

@media screen and (max-width: 1090px) {
    header {
        padding: 2rem 0;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    #list_nav_header {
        display: none;
    }

    #burger_icon {
        display: block;
        position: absolute;
        right: 2rem;
    }

}

@media screen and (max-width: 450px) {

    #aHeaderLogo {
        width: 65%;
    }

    #logo_header {
        width: 70%;
    }
}

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */

@keyframes slide-left {
    0% {
        transform: translateX(50vh);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(0px)
    }

    100% {
        transform: translateX(50vh)
    }
}

/**
 * ----------------------------------------
 * animation burger button
 * ----------------------------------------
 */

.menuBurgerGlobal {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    position: absolute;
    right: 1rem;
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}