<footer>
    <ul id="list_nav_footer">
        <li><a href="index.php"><img src="assets/images/components/home.svg"
                                     alt="icône d'une maison" /> Accueil</a></li>
        <li><a href="about_us.php"><img src="assets/images/components/buste.svg" alt="icône d'un buste d'homme" /> Qui sommes-nous ?</a></li>
        <li><a href="contact_us.php"><img src="assets/images/components/enveloppe.svg" alt="icône d'une enveloppe" /> Contactez-nous</a></li>
    </ul>

    <ul id="legal_link">
        <li><a href="#">Modalités et conditions</a></li>
        <li><a href="#">Politique de confidentialité</a></li>
    </ul>

    <ul id="socials">
        <li><a href="https://www.instagram.com/"><img class="socials_footer" id="instagram_logo" src="assets/images/components/instagram.svg" alt="logo instagram" /></a></li>
        <li><a href="https://www.facebook.com/"><img class="socials_footer" id="facebook_logo" src="assets/images/components/facebook.svg" alt="logo facebook" /></a></li>
        <li><a href="https://www.tiktok.com/"><img class="socials_footer" id="tiktok_logo" src="assets/images/components/tiktok.svg" alt="logo tiktok" /></a></li>
    </ul>
</footer>
